body{
    margin: 0;
    padding: 0;
    background-color: #2f3640;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 350px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px (0, 0, 0, 0.1);

}
.input-container{
   width: 100%;
   display: flex;
   align-items: center;
   border: 2px solid aqua;
   border-radius: 5px;
   overflow: hidden;
}
.cityinput{
  flex: 1;
  border: none;
  font-size: 15px;
  outline: none;
  padding: 10px;
}
.search-icon{
 padding: 10px;
 height: auto;
 cursor: pointer;

}
.image{
    text-align: center;
    height: 150px;
    margin-bottom: 10px;
}
.image img{
    width: 160px;
    height: 160px;
}
.temp,
.city,
.country{
    text-align: center;
    margin-top: 5px;
    font-size: 30px;
    color: #333;
    text-transform: uppercase;
}
.temp{
    font-weight: 500;
}
.city{
    color: yellow;
}
.country{
    font-size: 18px;
    color: #888;
    font-weight: 500;
}

.cord{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
    
}
.cord div{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 10px;
    
}
.lat,
.log{
    line-height: 1.5;
    font-size: 18px;
}
.data-container{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
.element img{
    width: 50px;
    height: 50px;

}
.element{
    text-align: center;
    padding: 10px;
    
}
.text{
    color: #333;
}
.loading-message,
.error-message,
.city-not-found{

    margin-top: 10px;
    color: #888;
    font-size: 25px;
    font-weight: 400;
    text-align: center;
}
